

.usersList__img {
    width: 80px;
    height: 80px;
    margin-top: 178px;
    margin-left: 150px;
    margin-right: 150px;
}

.following {
    background-color: #5CD3A8;
}

.follow {
    background-color: #EBD8FF;
}