p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBD8FF;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
      width: 480px;
      margin-left: auto;
      margin-right: auto;
  } 
}

@media screen and (min-width: 1024px) {
  .container {
      width: 1024px;
  } 
}

@media screen and (min-width: 1440px) {
  .container {
      width: 1440px;
  } 
}